body {
    margin: 0;
    font-family: "Arial";
  }

#banner {
    background-image: url('./images/netflixanimationback.jpeg');
    background-position: 50% 100%;
    background-size: cover;
    padding: 20vh 20px;
    text-align: center;
    color: white;
    text-shadow: black;
    
}

.section {
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
  }
  
  .section svg {
    border: 1px solid #D81F26;
    flex: 2;
    height: 300px;
    margin: 25px;
  }
  
  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
  }

  #tooltip {
    display: none;
    position: absolute;
    border: 1px;
  }

  