h1 {
    text-align: center;
    color: ghostwhite;
    font-family: "IvarHeadline-Regular", serif;}

  h2 {
    text-align: left;
    color: ghostwhite;
    font-family: "Staff-Bold", sans-serif;}

  h3 {
    font-family: "Carrie-Regular", sans-serif;
    box-shadow: inset;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(186,222,252);
    background: rgba(254, 254, 254, 0.3);
    color: rgba(254, 254, 254, 0.3);
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;}

  p {
    text-align: center;
    color: ghostwhite;
    font-family: "IvarHeadline-Regular", sans-serif}


 @media screen and (min-width: 480px) {
  #tiktok-embed {width: 200px; float: left;}
  #h3 {margin-left: 216px;}
}

 


 
 /* --------------  LOAD FONTS FROM SERVER ------------------------------ */
/* ---- The font-family defines the name that will be used in CSS ------ */ /* --------along with a source with location and  font file name ---- */
   
@font-face {
  font-family: "IvarHeadline-Regular";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Regular.woff2);
 }  
 @font-face {
  font-family: "IvarHeadline-Italic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
 } 
 @font-face {
  font-family: "IvarHeadline-Bold";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Bold.woff2);
 }  
 @font-face {
  font-family: "IvarHeadline-BoldItalic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
 } 
 @font-face {
  font-family: "Staff-Regular";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Regular.woff2);
 }  
 @font-face {
  font-family: "Staff-Italic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Italic.woff2);
 } 
 @font-face {
  font-family: "Staff-Bold";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Bold.woff2);
 }  
 @font-face {
  font-family: "Staff-BoldItalic";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-BoldItalic.woff2);
 } 
 @font-face {
  font-family: "Carrie-Regular";
   src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/VTCCarrie-Regular.woff2);
 } 
 
 
 
